<div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;">
    <form #f="ngForm" method="post" (ngSubmit)="login()">
      <div>
        <h3>Login information</h3>
        <label for="usrnm" class="ui-hidden-accessible">Username:</label>
        <input type="text" name="user" id="usrnmLogin" placeholder="Username" [(ngModel)]="User.username" #username="ngModel" required>
        <div class="alert alert-danger" *ngIf="username.invalid && username.touched"> obligatoire </div>
        <label for="pswd" class="ui-hidden-accessible">Password:</label>
        <input type="password" name="passw" id="pswdLogin" placeholder="Password" [(ngModel)]="User.password" #password="ngModel" required>
        <div class="alert alert-danger" *ngIf="password.invalid && password.touched"> obligatoire </div>
        
        <input type="submit"  data-inline="true"     value="Log in">
        <div >
       <!-- <div *ngFor="let u of emps">
          <div *ngIf="username.value == u.username && password.value == u.password ; else loggedOut ">
            <p>mawjoud</p>

          </div>
          <ng-template #loggedOut>
            mech mawjdou
          </ng-template>
        </div> -->
      </div>
     
      </div>
    </form>
    
  </div>


